$large: 992px;
$small: 576px;

$fonts: (
    primary: 'Audiowide',
    secondary: 'Roboto',
);

// $colors: (
//     primary: #000,
// );

@function font($font-name) {
    @return map-get($fonts , $font-name)
}

@mixin large-max {
    @media (max-width: #{$large}) {
        @content;
    }
}
@mixin large-min {
    @media (min-width: #{$large}) {
        @content;
    }
}
@mixin small-max {
    @media (max-width: #{$small}) {
        @content;
    }
}